.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: hsl(200, 100%, 50%);
}

.btn--primary:hover {
  background-color: hsl(200, 100%, 35%);
}

.btn--danger {
  color: white;
  background-color: hsl(0, 100%, 50%);
}

.btn--danger:hover {
  background-color: hsl(0, 100%, 35%);
}

@media only screen and (max-width: 700px) {
  .btn {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 550px) {
  .btn {
    padding: 2.5px 5px;
  }
}

@media only screen and (max-width: 460px) {
  .btn {
    padding: 2.5px 3px;
  }
}
